#nav
  /* 搜索与黑夜切换样式 */ 
  #search-button
    display: inline
    padding: 0 0 0 1rem 
    position: relative
    padding-bottom: 0.3rem
    text-shadow: 0.05rem 0.05rem 0.1rem rgb(0 0 0 / 30%)
    font-size: 0.78em
    cursor: pointer

#nav.hide-menu
  /* 手机模式开关灯字样隐藏 */
  #darkmodeBt
    span
      display: none !important

#nav 
  /* 移动端菜单展开按钮 */
  #toggle-menu
    padding: 0.1rem 0 0 1rem
    svg.icon
      width: 1.6rem
      height: 1.6rem

#navFn
  {
     flex:0.5;
  }